{% extends 'layout.html' %}
{% block title %}
Tweet app 
{% endblock %}
{% block  content%}
<h1 class="text-center text-white mt-4">Welcome to Tweet Project</h1>
<h2>
    {% if form.instance.pk %}
        Edit Tweet
    {% else %}
        Create Tweet
    {% endif %}
    </h2>
    <form method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>

    <a class="btn btn-secondary mt-3" href="{% url 'tweet_list' %}">Back to tweet list</a>

{% endblock  %}
